.btn{

    @include borderRadius(3px);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    text-align: center;
    padding: .35rem .35rem;
    cursor: pointer;
    @include transition(all 0.2s ease);

    &.btn-primary, &.btn-secondary:hover{
        color: $pure_w;
        background-color: $primary;
        border: 1px solid $primary;
    }

    &.btn-secondary, &.btn-primary:hover{
        color: $primary;
        background-color: transparent;
        border: 1px solid $primary;
    }
}